# MacOS specific
.DS_Store

# All the files are generated during run time reside in `.tmp` folder
.tmp

# OTA files
*.zip
*.csig
/*.json

# Keys and secrets
.keys
avb.key
ota.key
ota.crt
avb_pkmd.bin

# Python virtual environment
venv

# OMO
.omo
